## Veri ile ilgili problemleri tespit etmek

In [106]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [107]:
youtube = pd.read_csv("youtube.csv")
youtube.columns = ['sira', 'derece', 'kanal_adi', 'video_sayisi', 'abone_sayisi', 'goruntulenme_sayisi']

## Veriyi tanımak

In [108]:
youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sira                 5000 non-null   object
 1   derece               5000 non-null   object
 2   kanal_adi            5000 non-null   object
 3   video_sayisi         5000 non-null   object
 4   abone_sayisi         5000 non-null   object
 5   goruntulenme_sayisi  5000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

## Eksik değerler nasıl tespit edilir?

In [109]:
youtube.isnull().head()

    sira  derece  kanal_adi  video_sayisi  abone_sayisi  goruntulenme_sayisi
0  False   False      False         False         False                False
1  False   False      False         False         False                False
2  False   False      False         False         False                False
3  False   False      False         False         False                False
4  False   False      False         False         False                False

## Bunun nedeni, veri setimizdeki eksik değerlerin boş bırakılmak yerine iki tire (--) ile gösterilmesidir. Bu, muhtemelen üzerinde çalışabileceğiniz gerçek hayattaki veri kümeleriyle ilgili genel bir durumdur. Fakat sorun şu ki bu durumları nasıl bulabiliriz? Ne yazık ki, bu soruya herkese uyan bir cevap yoktur. Söyleyebileceğimiz tek şey verilerimizi araştırmamız ve dikkatlice analiz etmemiz gerektiğidir.

In [110]:
for sutun_adi in youtube.columns:
    print("{} sütunundaki benzersiz değerler : {}".format(sutun_adi, youtube[sutun_adi].unique()))

sira sütunundaki benzersiz değerler : ['1st' '2nd' '3rd' ... '4,998th' '4,999th' '5,000th']
derece sütunundaki benzersiz değerler : ['A++ ' 'A+ ' 'A ' '\xa0 ' 'A- ' 'B+ ']
kanal_adi sütunundaki benzersiz değerler : ['Zee TV' 'T-Series' 'Cocomelon - Nursery Rhymes' ... 'Mastersaint'
 'Bruce McIntosh' 'SehatAQUA']
video_sayisi sütunundaki benzersiz değerler : ['82757' '12661' '373' ... '1735' '706' '3475']
abone_sayisi sütunundaki benzersiz değerler : ['18752951' '61196302' '19238251' ... '3265735' '32990' '21172']
goruntulenme_sayisi sütunundaki benzersiz değerler : [20869786591 47548839843  9793305082 ...   311758426    14563764
    73312511]

In [111]:
youtube.shape[1]

6

## Bu ödevde ABD Eğitim Sistemi'ne ait bir takım verileri inceleyeceksiniz. Öncelikle veri kümesini Kaggle'dan indirin. Burada eğitim sistemine ait bir çok veri kümesi bulunmaktadır. Bu ödevde 'states_all.csv' isimli veri kümesini kullanacaksınız.

## 1-Veri kümesinde yer alan değişkenlerinin tiplerini ve her bir değişkenin eksik (null) değer oranını bulun.

In [112]:
df = pd.read_csv("states_all.csv")

In [113]:
df

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.0,287.0,224.0,262.0
1711,2019_WASHINGTON,WASHINGTON,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.0,286.0,220.0,266.0
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,231.0,272.0,213.0,256.0
1713,2019_WISCONSIN,WISCONSIN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,242.0,289.0,220.0,267.0
1714,2019_WYOMING,WYOMING,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,246.0,286.0,227.0,265.0

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [115]:
df.isnull().head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,True,True,True,True
2,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True

In [116]:
# Tüm sütunlardaki eksik değerlerin yüzdelerini hesaplayalım
df.isnull().sum()*100/df.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          28.629738
TOTAL_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
STATE_REVENUE                   25.655977
LOCAL_REVENUE                   25.655977
TOTAL_EXPENDITURE               25.655977
INSTRUCTION_EXPENDITURE         25.655977
SUPPORT_SERVICES_EXPENDITURE    25.655977
OTHER_EXPENDITURE               28.629738
CAPITAL_OUTLAY_EXPENDITURE      25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
GRADES_ALL_G                     4.839650
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
AVG_READING_8_SCORE             67.230321
dtype: float64

## 2- Verimizde yıl (year) sütunu olduğunu farketmişsinizdir. Şimdilik yıl verisini unutun ve her bir gözlemin aynı yıl içerisinde yapıldığını farz edin. Her bir değişken için eksik değerleri nasıl doldurabileceğinizi düşünün. Eksik değerleri bir değerle doldurmak hangi değişkenler için anlamlı, hangileri için anlamsızdır?

In [117]:
if df["YEAR"].dtype == "int64":
    print(True)

True

In [118]:
#Sürekli değişkenlere ait boş verileri ortalama alarak dolduralım
for i in df.columns:
    if df[i].dtype == "int64" or df[i].dtype == "float64":
        df[i].fillna(df[i].mean(),inplace=True)

In [119]:
df

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,917541.566176,2.678885e+06,3.041770e+05,1.659028e+06,7.156800e+05,2.653798e+06,1.481703e+06,...,57948.000000,58025.000000,41167.000000,577954.717647,282069.084967,7.316340e+05,208.000000,252.000000,207.000000,263.558719
1,1992_ALASKA,ALASKA,1992,917541.566176,1.049591e+06,1.067800e+05,7.207110e+05,2.221000e+05,9.724880e+05,4.983620e+05,...,9748.000000,8789.000000,6714.000000,577954.717647,282069.084967,1.224870e+05,236.327434,278.280731,218.806154,263.558719
2,1992_ARIZONA,ARIZONA,1992,917541.566176,3.258079e+06,2.978880e+05,1.369815e+06,1.590376e+06,3.401580e+06,1.435908e+06,...,55433.000000,49081.000000,37410.000000,577954.717647,282069.084967,6.734770e+05,215.000000,265.000000,209.000000,263.558719
3,1992_ARKANSAS,ARKANSAS,1992,917541.566176,1.711959e+06,1.785710e+05,9.587850e+05,5.746030e+05,1.743022e+06,9.643230e+05,...,34632.000000,36011.000000,27651.000000,577954.717647,282069.084967,4.414900e+05,210.000000,256.000000,211.000000,263.558719
4,1992_CALIFORNIA,CALIFORNIA,1992,917541.566176,2.626002e+07,2.072470e+06,1.654651e+07,7.641041e+06,2.713883e+07,1.435892e+07,...,418418.000000,363296.000000,270675.000000,577954.717647,282069.084967,5.254844e+06,208.000000,261.000000,202.000000,263.558719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,247.000000,287.000000,224.000000,262.000000
1711,2019_WASHINGTON,WASHINGTON,2019,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,240.000000,286.000000,220.000000,266.000000
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,231.000000,272.000000,213.000000,256.000000
1713,2019_WISCONSIN,WISCONSIN,2019,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,242.000000,289.000000,220.000000,267.000000
1714,2019_WYOMING,WYOMING,2019,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,246.000000,286.000000,227.000000,265.000000

In [120]:
#Yeniden tüm sütunlardaki eksik değerlerin oranını hesaplayalım
df.isnull().sum()*100/df.shape[0]

PRIMARY_KEY                     0.0
STATE                           0.0
YEAR                            0.0
ENROLL                          0.0
TOTAL_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
STATE_REVENUE                   0.0
LOCAL_REVENUE                   0.0
TOTAL_EXPENDITURE               0.0
INSTRUCTION_EXPENDITURE         0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
OTHER_EXPENDITURE               0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
GRADES_PK_G                     0.0
GRADES_KG_G                     0.0
GRADES_4_G                      0.0
GRADES_8_G                      0.0
GRADES_12_G                     0.0
GRADES_1_8_G                    0.0
GRADES_9_12_G                   0.0
GRADES_ALL_G                    0.0
AVG_MATH_4_SCORE                0.0
AVG_MATH_8_SCORE                0.0
AVG_READING_4_SCORE             0.0
AVG_READING_8_SCORE             0.0
dtype: float64

## Tüm eksik değerleri doldurduk

In [121]:
# Her bir sütuna ait tüm benzersiz değerleri alalım
for column in df.columns:
    print("{} sütunundaki benzersiz değerler : {}".format(column, df[column].unique()))

PRIMARY_KEY sütunundaki benzersiz değerler : ['1992_ALABAMA' '1992_ALASKA' '1992_ARIZONA' ... '2019_WEST_VIRGINIA'
 '2019_WISCONSIN' '2019_WYOMING']
STATE sütunundaki benzersiz değerler : ['ALABAMA' 'ALASKA' 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DELAWARE' 'DISTRICT_OF_COLUMBIA' 'FLORIDA' 'GEORGIA'
 'HAWAII' 'IDAHO' 'ILLINOIS' 'INDIANA' 'IOWA' 'KANSAS' 'KENTUCKY'
 'LOUISIANA' 'MAINE' 'MARYLAND' 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA'
 'MISSISSIPPI' 'MISSOURI' 'MONTANA' 'NEBRASKA' 'NEVADA' 'NEW_HAMPSHIRE'
 'NEW_JERSEY' 'NEW_MEXICO' 'NEW_YORK' 'NORTH_CAROLINA' 'NORTH_DAKOTA'
 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'RHODE_ISLAND' 'SOUTH_CAROLINA'
 'SOUTH_DAKOTA' 'TENNESSEE' 'TEXAS' 'UTAH' 'VERMONT' 'VIRGINIA'
 'WASHINGTON' 'WEST_VIRGINIA' 'WISCONSIN' 'WYOMING' 'DODEA' 'NATIONAL']
YEAR sütunundaki benzersiz değerler : [1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 1986 1987 1988
 1989 1990 1991 2017 2019]
ENROLL sütunundaki benzersiz değerler : [917541.56617647 727716.         121156.         ... 276764.
 857736.          94511.        ]
TOTAL_REVENUE sütunundaki benzersiz değerler : [ 2678885.          1049591.          3258079.         ...
 11697466.          2044669.          9102044.92941177]
FEDERAL_REVENUE sütunundaki benzersiz değerler : [304177.         106780.         297888.         ... 782610.
 123012.         767779.86431373]
STATE_REVENUE sütunundaki benzersiz değerler : [1659028.         720711.        1369815.        ... 5986763.
 1175899.        4223742.9027451]
LOCAL_REVENUE sütunundaki benzersiz değerler : [ 715680.          222100.         1590376.         ... 4928093.
  745758.         4110522.15607843]
TOTAL_EXPENDITURE sütunundaki benzersiz değerler : [ 2653798.           972488.          3401580.         ...
 11787535.          2034229.          9206242.12156863]
INSTRUCTION_EXPENDITURE sütunundaki benzersiz değerler : [1481703.          498362.         1435908.         ... 5760418.
  921494.         4768010.48470588]
SUPPORT_SERVICES_EXPENDITURE sütunundaki benzersiz değerler : [ 735036.          350902.         1007732.         ... 3691439.
  585700.         2682586.51921569]
OTHER_EXPENDITURE sütunundaki benzersiz değerler : [429950.93382353 237222.          36291.         ... 236487.
 508013.          53570.        ]
CAPITAL_OUTLAY_EXPENDITURE sütunundaki benzersiz değerler : [ 174053.           37451.          609114.         ... 1082849.
  454302.          903467.45490196]
GRADES_PK_G sütunundaki benzersiz değerler : [ 8224.  2371.  2544. ... 13791. 55186.  1505.]
GRADES_KG_G sütunundaki benzersiz değerler : [55460.        10152.        53497.        ...  7812.         7606.
 68810.9620098]
GRADES_4_G sütunundaki benzersiz değerler : [57948.          9748.         55433.         ...  8269.
  7537.         69166.50796569]
GRADES_8_G sütunundaki benzersiz değerler : [58025.          8789.         49081.         ...  7511.
  7086.         68106.53737745]
GRADES_12_G sütunundaki benzersiz değerler : [41167.          6714.         37410.         ...  6425.
  6405.         58420.87071078]
GRADES_1_8_G sütunundaki benzersiz değerler : [577954.71764706 472847.          83217.         ... 159595.
 488983.          58998.        ]
GRADES_9_12_G sütunundaki benzersiz değerler : [282069.08496732 208148.          36474.         ...  78305.
 261916.          27361.        ]
GRADES_ALL_G sütunundaki benzersiz değerler : [731634.         122487.         673477.         ... 102074.
  94258.         913969.49448529]
AVG_MATH_4_SCORE sütunundaki benzersiz değerler : [208.         236.32743363 215.         210.         221.
 227.         218.         193.         214.         216.
 222.         230.         204.         232.         217.
 220.         228.         202.         225.         213.
 229.         219.         224.         212.         211.
 234.         192.         223.         233.         231.
 235.         241.         236.         205.         238.
 242.         226.         243.         239.         237.
 240.         246.         247.         244.         245.
 248.         252.         249.         251.         253.
 250.        ]
AVG_MATH_8_SCORE sütunundaki benzersiz değerler : [252.        278.2807309 265.        256.        261.        272.
 274.        263.        235.        260.        259.        257.
 275.        270.        283.        262.        250.        279.
 273.        267.        282.        246.        271.        278.
 266.        258.        268.        264.        269.        281.
 277.        287.        254.        285.        280.        276.
 284.        243.        291.        286.        245.        292.
 290.        248.        298.        288.        289.        299.
 294.        293.        295.        301.        296.        297.
 253.        231.        255.        251.       ]
AVG_READING_4_SCORE sütunundaki benzersiz değerler : [207.         218.80615385 209.         211.         202.
 217.         222.         213.         188.         208.
 212.         203.         219.         221.         225.
 204.         227.         226.         216.         199.
 220.         228.         223.         215.         210.
 224.         206.         197.         179.         205.
 201.         218.         214.         230.         200.
 229.         191.         234.         231.         236.
 237.         232.         235.         233.        ]
AVG_READING_8_SCORE sütunundaki benzersiz değerler : [263.55871886 255.         260.         256.         252.
 264.         270.         254.         236.         257.
 249.         268.         262.         271.         261.
 269.         265.         251.         258.         266.
 263.         253.         250.         267.         240.
 272.         239.         273.         259.         238.
 274.         241.         242.         275.         248.
 277.         276.         247.         278.         280.        ]

## 3- Şimdi zaman faktörünü dikkate alma zamanı! 2. sorudaki cevabınızı tekrar gözden geçirin ve eksik verileri o yıl içerisinde gözlemlenen değerlere dayanarak doldurun. Örneğin, bir değeri ortalama değer ile doldurmak isterseniz, o yılın ortalamasını hesaplayın.

In [122]:
#Veriyi yeniden okuyalım
df = pd.read_csv("states_all.csv")

In [123]:
df

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.0,287.0,224.0,262.0
1711,2019_WASHINGTON,WASHINGTON,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.0,286.0,220.0,266.0
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,231.0,272.0,213.0,256.0
1713,2019_WISCONSIN,WISCONSIN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,242.0,289.0,220.0,267.0
1714,2019_WYOMING,WYOMING,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,246.0,286.0,227.0,265.0

In [124]:
new_df = df.loc[lambda df: df["YEAR"] == 1992]
new_df.mean()

YEAR                            1.992000e+03
ENROLL                                   NaN
TOTAL_REVENUE                   4.572764e+06
FEDERAL_REVENUE                 2.970296e+05
STATE_REVENUE                   2.088314e+06
LOCAL_REVENUE                   2.187420e+06
TOTAL_EXPENDITURE               4.653591e+06
INSTRUCTION_EXPENDITURE         2.454000e+06
SUPPORT_SERVICES_EXPENDITURE    1.370149e+06
OTHER_EXPENDITURE                        NaN
CAPITAL_OUTLAY_EXPENDITURE      4.050078e+05
GRADES_PK_G                     1.009170e+04
GRADES_KG_G                     6.495641e+04
GRADES_4_G                      6.552425e+04
GRADES_8_G                      6.135306e+04
GRADES_12_G                     4.765757e+04
GRADES_1_8_G                             NaN
GRADES_9_12_G                            NaN
GRADES_ALL_G                    8.396728e+05
AVG_MATH_4_SCORE                2.184186e+02
AVG_MATH_8_SCORE                2.663256e+02
AVG_READING_4_SCORE             2.153721e+02
AVG_READING_8_SCORE             2.600000e+02
dtype: float64

In [125]:
df.groupby(["YEAR"]).mean("ENROLL")

,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
YEAR,,,,,,,,,,,,,,,,,,,,,
1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56782.980392,56269.686275,50990.509804,NaN,NaN,779473.960784,NaN,NaN,NaN,NaN
1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57600.705882,55657.117647,52565.196078,NaN,NaN,784474.764706,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59813.843137,55941.313725,51954.392157,NaN,NaN,788013.529412,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62394.078431,55950.274510,48495.647059,NaN,NaN,794955.039216,NaN,NaN,NaN,NaN
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63687.549020,58414.176471,46687.901961,NaN,NaN,808170.254902,213.000000,263.000000,NaN,NaN
1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64998.549020,59217.058824,46910.901961,NaN,NaN,824448.588235,NaN,NaN,NaN,NaN
1992,NaN,4.572764e+06,2.970296e+05,2.088314e+06,2.187420e+06,4.653591e+06,2.454000e+06,1.370149e+06,NaN,4.050078e+05,...,65524.254902,61353.058824,47657.568627,NaN,NaN,839672.784314,218.418605,266.325581,215.372093,260.000000
1993,802054.333333,4.768758e+06,3.086224e+05,2.209300e+06,2.250836e+06,4.788283e+06,2.540431e+06,1.419870e+06,248234.784314,4.096238e+05,...,65904.117647,63711.098039,47530.019608,NaN,NaN,852253.254902,NaN,NaN,NaN,NaN
1994,801383.960784,4.916678e+06,3.272233e+05,2.225664e+06,2.363790e+06,4.954213e+06,2.626080e+06,1.476894e+06,262916.705882,4.041495e+05,...,67175.509804,64750.921569,48775.529412,NaN,NaN,864931.019608,NaN,NaN,212.707317,260.000000
1995,858973.039216,5.476034e+06,3.546117e+05,2.555041e+06,2.566381e+06,5.526114e+06,2.931096e+06,1.616281e+06,295324.647059,4.765508e+05,...,67266.333333,65810.549020,48767.352941,NaN,NaN,879225.117647,NaN,NaN,NaN,NaN
1996,873930.607843,5.744172e+06,3.647964e+05,2.737296e+06,2.642080e+06,5.838049e+06,3.076873e+06,1.680742e+06,303516.137255,5.445423e+05,...,67720.960784,66717.941176,50714.666667,NaN,NaN,894334.235294,224.000000,270.000000,NaN,NaN
1997,888379.745098,6.115397e+06,3.869910e+05,2.940125e+06,2.788281e+06,6.193357e+06,3.245567e+06,1.762159e+06,305274.705882,6.359637e+05,...,68773.666667,66963.019608,52410.431373,557507.058824,251767.843137,904448.960784,NaN,NaN,NaN,NaN
1998,897509.058824,6.504525e+06,4.272517e+05,3.140750e+06,2.936523e+06,6.595780e+06,3.427786e+06,1.873964e+06,318956.098039,7.034032e+05,...,70434.372549,68242.568627,53366.843137,563202.431373,254533.450980,912521.274510,NaN,NaN,213.523810,260.692308
1999,905101.470588,6.954543e+06,4.747857e+05,3.390289e+06,3.089468e+06,7.068126e+06,3.633184e+06,1.999630e+06,334733.431373,7.937301e+05,...,72281.686275,68568.176471,54541.588235,567115.549020,258153.529412,918767.627451,NaN,NaN,NaN,NaN
2000,910446.705882,7.443181e+06,5.229861e+05,3.650809e+06,3.269385e+06,7.572106e+06,3.883017e+06,2.136325e+06,352342.941176,8.755735e+05,...,72773.078431,69373.078431,54956.725490,572441.117647,261567.490196,925559.588235,223.976744,271.404762,213.000000,NaN
2001,916296.274510,8.007941e+06,5.612788e+05,3.937915e+06,3.508747e+06,8.176763e+06,4.170963e+06,2.317517e+06,376510.254902,9.593529e+05,...,72448.901961,70900.764706,56134.490196,576228.549020,266215.372549,934606.549020,NaN,NaN,NaN,NaN
2002,923818.196078,8.363705e+06,6.412445e+05,4.066169e+06,3.656291e+06,8.680107e+06,4.408671e+06,2.452548e+06,396852.352941,1.037669e+06,...,71931.705882,72729.313725,58617.823529,578040.117647,272696.215686,944766.392157,NaN,NaN,217.847826,262.795455
2003,933396.862745,8.777804e+06,7.216835e+05,4.226496e+06,3.829624e+06,9.064218e+06,4.635866e+06,2.606806e+06,409705.098039,9.903809e+05,...,70962.529412,74694.725490,59735.117647,578290.941176,278219.627451,951768.921569,234.000000,276.943396,217.566038,262.584906
2004,938327.117647,9.225277e+06,8.098227e+05,4.276449e+06,4.139006e+06,9.436110e+06,4.807699e+06,2.715620e+06,422406.803922,1.024876e+06,...,70816.431373,74993.529412,60673.509804,577029.764706,284225.960784,956773.823529,NaN,NaN,NaN,NaN
2005,942259.960784,9.741954e+06,8.697107e+05,4.500507e+06,4.371736e+06,9.933855e+06,5.065459e+06,2.869167e+06,441206.921569,1.063179e+06,...,70147.176471,74546.921569,62357.803922,575350.588235,289959.843137,963005.843137,237.169811,277.867925,218.245283,261.849057
2006,947078.980392,1.039160e+07,9.235447e+05,4.760499e+06,4.707552e+06,1.052437e+07,5.330250e+06,3.058888e+06,463564.176471,1.153117e+06,...,70311.588235,73834.803922,64262.764706,575471.352941,293548.215686,966977.294118,NaN,NaN,NaN,NaN
2007,949109.254902,1.109366e+07,9.104578e+05,5.187230e+06,4.995971e+06,1.116970e+07,5.649631e+06,3.236339e+06,489835.686275,1.256719e+06,...,71066.313725,72724.607843,66166.901961,575978.960784,294013.058824,966481.549020,239.207547,280.773585,220.547170,262.283019
2008,949047.392157,1.160464e+07,9.229685e+05,5.508365e+06,5.173303e+06,1.185454e+07,5.975513e+06,3.449190e+06,511990.941176,1.346140e+06,...,71507.764706,72388.137255,66660.568627,575468.509804,292010.607843,965991.607843,NaN,NaN,NaN,NaN
2009,946249.313725,1.177812e+07,1.096081e+06,5.414781e+06,5.267262e+06,1.209353e+07,6.115512e+06,3.503797e+06,531834.450980,1.334207e+06,...,72559.411765,71593.647059,67287.960784,576271.509804,291407.862745,967862.392157,239.547170,282.509434,220.377358,263.471698
2010,946396.254902,1.182120e+07,1.450335e+06,5.053862e+06,5.317006e+06,1.205371e+07,6.219995e+06,3.508137e+06,532313.568627,1.163844e+06,...,72771.392157,71753.039216,68076.235294,580138.823529,290551.176471,970278.058824,NaN,NaN,NaN,NaN
2011,946587.745098,1.195207e+07,1.445229e+06,5.220582e+06,5.286261e+06,1.191374e+07,6.233568e+06,3.517628e+06,531916.490196,1.026307e+06,...,71997.352941,72139.431373,67683.843137,581545.941176,288354.607843,971013.117647,240.490566,283.584906,220.358491,264.811321
2012,945379.392157,1.185719e+07,1.167298e+06,5.302587e+06,5.387305e+06,1.185893e+07,6.207661e+06,3.526431e+06,531786.607843,9.843594e+05,...,72357.333333,72528.960784,68176.960784,584396.490196,288441.274510,975904.274510,NaN,NaN,NaN,NaN
2013,947012.176471,1.192289e+07,1.066444e+06,5.368678e+06,5.487767e+06,1.192948e+07,6.317421e+06,3.562444e+06,545102.784314,9.213200e+05,...,72700.647059,73595.235294,68159.450980,588303.725490,289055.470588,981265.137255,241.962264,284.113208,221.320755,266.509434
2014,948607.529412,1.232629e+07,1.037290e+06,5.663455e+06,5.625549e+06,1.224938e+07,6.481809e+06,3.681058e+06,556592.294118,9.333451e+05,...,72919.078431,73658.921569,68558.509804,590994.627451,291975.745098,986521.196078,NaN,NaN,NaN,NaN
2015,951263.450980,1.281705e+07,1.045230e+06,5.933968e+06,5.837854e+06,1.276276e+07,6.750863e+06,3.811953e+06,568480.588235,1.022395e+06,...,74367.352941,72912.980392,69357.490196,591894.117647,294129.019608,986804.215686,240.415094,281.905660,222.339623,265.075472
2016,952388.764706,1.337367e+07,1.061579e+06,6.234438e+06,6.077655e+06,1.326522e+07,7.011348e+06,3.911124e+06,587423.941176,1.120930e+06,...,75655.607843,73507.941176,70028.254902,593424.176471,295810.784314,991918.803922,NaN,NaN,NaN,NaN
2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75675.980392,73966.196078,71204.901961,NaN,296813.627451,993834.647059,239.433962,282.113208,221.339623,265.754717
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,239.943396,281.264151,219.792453,262.566038

In [126]:
for i in df.columns:
    if df[i].dtype == "int64" or df[i].dtype == "float64":
        #O yıla ait ortalamayı hesaplayalım
        new_df = df.loc[lambda df: df["YEAR"] == df.YEAR]
        df[i].fillna(new_df[i].mean(),inplace=True)

In [127]:
df

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,917541.566176,2.678885e+06,3.041770e+05,1.659028e+06,7.156800e+05,2.653798e+06,1.481703e+06,...,57948.000000,58025.000000,41167.000000,577954.717647,282069.084967,7.316340e+05,208.000000,252.000000,207.000000,263.558719
1,1992_ALASKA,ALASKA,1992,917541.566176,1.049591e+06,1.067800e+05,7.207110e+05,2.221000e+05,9.724880e+05,4.983620e+05,...,9748.000000,8789.000000,6714.000000,577954.717647,282069.084967,1.224870e+05,236.327434,278.280731,218.806154,263.558719
2,1992_ARIZONA,ARIZONA,1992,917541.566176,3.258079e+06,2.978880e+05,1.369815e+06,1.590376e+06,3.401580e+06,1.435908e+06,...,55433.000000,49081.000000,37410.000000,577954.717647,282069.084967,6.734770e+05,215.000000,265.000000,209.000000,263.558719
3,1992_ARKANSAS,ARKANSAS,1992,917541.566176,1.711959e+06,1.785710e+05,9.587850e+05,5.746030e+05,1.743022e+06,9.643230e+05,...,34632.000000,36011.000000,27651.000000,577954.717647,282069.084967,4.414900e+05,210.000000,256.000000,211.000000,263.558719
4,1992_CALIFORNIA,CALIFORNIA,1992,917541.566176,2.626002e+07,2.072470e+06,1.654651e+07,7.641041e+06,2.713883e+07,1.435892e+07,...,418418.000000,363296.000000,270675.000000,577954.717647,282069.084967,5.254844e+06,208.000000,261.000000,202.000000,263.558719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,247.000000,287.000000,224.000000,262.000000
1711,2019_WASHINGTON,WASHINGTON,2019,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,240.000000,286.000000,220.000000,266.000000
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,231.000000,272.000000,213.000000,256.000000
1713,2019_WISCONSIN,WISCONSIN,2019,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,242.000000,289.000000,220.000000,267.000000
1714,2019_WYOMING,WYOMING,2019,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,246.000000,286.000000,227.000000,265.000000